{% extends "index.html" %}
{% block comments %}

<div class="posts">
  <h1>A penny for your thoughts</h1>
    {% for comment in template_values.comments %}
      <div class="post-user">
        {% if comment.author %}
            {{ comment.author.email }}
              {% if user and user.user_id() == comment.author.identity %}
                (You)
              {% endif %}
        {% else %}
          Anonymus wrote:
        {% endif %}
      </div>
        <div class="post-title">
          {{ comment.title }}
        </div>
        <div class="post-comment">
          {{ comment.content }}
        </div>
      {% endfor %}

    <br>
    <hr>
    <br>
    <p class="error">{{template_values.error}}</p>
    <form action="/#comments" method="post" id="comments">
        <div>
          <input class="form-title" name="title" type="text"
                 placeholder="Title" value ="{{template_values.title}}">
        </div>
        <br>
        <div>
          <textarea name="content" placeholder="Please leave your comment..."
                    rows="10" cols="60">{{template_values.content}}</textarea>
        </div>
        <div>
          <input type="submit" value="Post Comment">
        </div>
    </form>
    <div class="login">
      {{template_values.users_prompt}} <a href="{{ template_values.url|safe }}">
      {{ template_values.url_linktext }}</a>
    </div>
</div>

{% endblock %}